/.idea/*
*.pyc
*.sqlite3
/db.sqlite3
*~
/ghostdriver.log
/test_screenshots/*
/papukaaniApp/migrations/*
/my
/tags
.agignore
/ecotones*.csv
/Ecotones*.csv
/big*.csv
/papukaani.log
/papukaani.log.*
/.coverage
/coverage/*
/nbproject/*
