html, body, #mapContainer {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    /* Margin bottom by footer height */
    /*margin-bottom: 60px;*/
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #3498DB;
    z-index: 9999;
}

.cluster {
    width: 40px;
    height: 40px;
    background-color: blue;
    text-align: center;
    font-size: 20px;
}

.heading {
    margin-left: 5%;
}

#errors {
    color: rgb(150, 0, 0);
}

#contentWrapper {
    padding-top: 50px; /* navbarheight */
    height: 100%;
}

#mapContainer {
    height: 100%;
}

#mapContainer #map {
    width: auto;
    height: calc(100% - 200px);
    box-sizing: border-box;
}

#timeline {
    z-index: 10000;
    width: 100%;
    height: 200px;
    bottom: 20px;
}

#nyheter {
    padding: 20px;
}

#formatForm span.glyphicon {
    top: 0px;
}

.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
}

.largeMap {
    height: 78%;
    clear: none;
}

#birds {
    float: left;
    margin-right: 20px;
}

#time_range_selection .input_field {
    float: left;
    margin-right: 10px;
}

#time_range input, label {
    display: block;
}

.overlay {
    position: fixed;
    top: 50%;
    left: 50%;

    width: 400px;
    height: 120px;

    padding-top: 10px;
    margin-top: -50px;
    margin-left: -200px;
    text-align: center;
    line-height: 40px;
    font-weight: bold;

    background-color: #00537C;
    color: #ffffff;

    z-index: 10;
    outline: 9999px solid rgba(0, 0, 0, 0.5);
}

#time_range label {
    display: inline-block;
}

#time_range input {
    display: inline-block;
}

.form-field {
    width: 160px !important;
}

.padded2 {
    padding: 4px;
}

.small-slider {
    width: 150px;
    margin-left: 20px;
    margin-top: 10px;
}

#in-map {
    width: auto;
    height: auto;
}

#in-map-control {
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #d5d5d5;
}

#play {
    width: 40px;
    margin-right: 7px;
    vertical-align: middle;
    float: left;
}

#playSlider {
    width: calc(100% - 15px);
}

#sliderOverlay {
    width: 100%;
    top: 0;
    left: 0;
    position: relative;
}

#playLabel {
    float: left;
}

#playLabel_end {
    padding-right: 15px;
    float: right;
}

.secondCol label {
    font-weight: normal;
    margin: 5px 0 0 0;
}

#speedLabel {
    padding-top: 1px;
    display: block;
    float: left;
}

#speedSlider {
    margin: 8px 10px 0 10px;
    padding: 0;
    float: left;
}

#speed{
    padding-right: 5px;
}

.input-group-addon.wide {
    min-width: 12em;
}

.input-group-addon.button:hover {
    background-color: #DDDDDD;
    -webkit-transition: background-color ease-in 0.2s;
    -moz-transition: background-color ease-in 0.2s;
    -o-transition: background-color ease-in 0.2s;
    transition: background-color ease-in 0.2s;
}

.input-group-addon.button:not(:hover) {
    -webkit-transition: background-color ease-in 0.2s;
    -moz-transition: background-color ease-in 0.2s;
    -o-transition: background-color ease-in 0.2s;
    transition: background-color ease-in 0.2s;
}

.panel.help-box {
    padding: 1em;
    width: 100%;
    background-color: #F4F4F4;
}

.login-body {
    background-color: #00537C;
}

.login-container {
    background-color: #FFFFFF;
    width: 22em;
    height: 22em;
    border-radius: 25px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    margin: 20% auto;
}

.login-container p {
    padding: 1em;
}

#table {
    margin-left: 5%;
    width: 90%;
    outline: 1px solid rgb(150, 150, 150);
}

.outlined {
    outline: 1px solid rgb(150, 150, 150);
}

#formatForm .input-group {
    padding: 2px;
}

#formatForm button {
    padding-top: 5px;
}

.ui-slider-handle {
    top: -1px !important;
    height: 11px !important;
}

.ui-widget-header {
    background-image: none;
    background-color: #887e6d;
}

#selectIndividual {
    list-style: none;
    max-width: 190px;
}

.col {
    margin-top: 5px;
}

#birdlist span {
    margin-left: 3px;
}

.modal-body #selectIndividual {
    list-style: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

.modal-species {
    font-style: italic;
}

#selectIndividual li label {
    cursor: pointer;
}

#selectIndividual li span {
    line-height: 30px;
}

/* kielijutut */

#language_form {
    display: none;
}

a#language_choose {
    text-transform: none !important;
}

a#language_choose:hover {
    /* color: #333333; */
    color: #ffffff !important;
}

a#language_choose:hover:before {
    /* width: 100%; */
    width: 0% !important;
}

.language_option {
    color: #ffffff;
}

.language_option:hover {
    color: #333333;
    cursor: pointer;
}

.language_current {
    text-decoration: underline;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container-fluid,
body > .container {
    padding: 50px 0 0;
}

.container .text-muted {
    color: #ffffff;
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.navbar-brand {
    letter-spacing: 2px;
}

.footer, .navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand, .navbar-link {
    color: #ffffff !important;
}

.navbar-inverse .navbar-nav > li > a {
    font-weight: 500;
}

.navbar-inverse .navbar-brand {
    font-weight: 700;
}

.navbar-inverse {
    background-color: #3498DB;
    border-color: #2980B9;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #2980B9;
    border-color: #2980B9;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
    background-color: #2980B9;
}

.navbar-inverse .navbar-toggle, .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #2980B9;
}

.dropdown-menu {
    background-color: #ffffff;
}

code {
    font-size: 80%;
}

.side-bar {
    background-color: #ECF0F1;
    height: 200px;
}

@media only screen and (max-width: 768px) {
    .hidden-sm > * {
        display: none;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-collapse.collapse.in {
        display: block !important;
    }

    .navbar-header .collapse, .navbar-toggle {
        display: block !important;
    }

    .navbar-header {
        float: none;
    }
}

/*@media only screen and (min-width: 768px) {*/
/*body > .container-fluid {*/
/*height: calc(100vh - 60px);*/
/*}*/

/*.side-bar {*/
/*height: 100%;*/
/*}*/
/*}*/

.ui-datepicker select {
    background: #fff;
    color: #000;
}

#birdiesContainer {
    float: left;
    height: 100px;
    padding: 0;
    margin: 0;
    width: 100%;
    overflow-y: scroll; /* Trigger vertical scroll    */
    overflow-x: hidden; /* Hide the horizontal scroll */
}

#birdies {
    float: left;
    width: 100%;
    display: block;
    padding: 1px 1px 1px 5px;
    box-sizing: border-box;
    font-weight: bold;
}

#birdies button.remove {
    margin: 1px 5px 1px 0;
}

.firstCol {
    float: left;
    width: 200px;
}

.secondCol {
    float: left;
    width: calc(100% - 200px);
}

#public .ui-datepicker {
    position: relative !important;
    top: -570px !important;
}

.birdrow {
    clear: both;
    width: 100%;
    float: left;
}
#loading{
    z-index: 999999;
}
.loadinggif {
    display: block;
    margin: 0 auto;
}

.loadingtext {
    display: block;
    margin: 0 auto;
    text-align: center;
}

#birdiesContainer .secondCol {
    min-height: 100px;
}

#canvasslider {
    float: left;
    width: 100%;
    min-height: 100px;
    box-sizing: border-box;
    position: relative;
}

#canvasslider canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 100px;
}

#ui-layer {
    z-index: 3;
    /*background: blue;*/
}

#lines-layer {
    z-index: 2;
    /*background: yellow;*/
}

#background-layer {
    z-index: 1;
    background: #ccc;
}
#newsContainer{
    padding-bottom: 60px;
}