.largeMap {
    height: 85%;
    clear: none;
}

html,body {
    font-family:'Ubuntu',sans-serif !important;
    font-size:14px;
    line-height:1.42857143;
    color:#333;
    background-color:#fff;
    height: 100%;
    width: 100%;
}

#time_range_selection .input_field {
    float: left;
    margin-right: 10px;
}

#time_range input, label {
    display: block;
}

.overlay{
    position : fixed;
    top : 50%;
    left : 50%;

    width : 400px;
    height : 120px;

    padding-top: 10px;
    margin-top : -50px;
    margin-left : -200px;
    text-align : center;
    line-height : 40px;
    font-weight : bold;

    background-color : #00537C;
    color : #ffffff;

    z-index: 10;
    outline: 9999px solid rgba(0,0,0,0.5);
}

.choose_actions{
    display : inline-block;
}

#time_range{
    display : inline-block;
}

#time_range label{
    display : inline-block;
}

#time_range input{
    display : inline-block;
}

.form-field {
    width: 160px !important;
}

.padded2 {
    padding:4px;
}

.small-slider {
    width:150px;
    margin-left: 20px;
    margin-top: 10px;
}

.margin-container{
    width: 80%;
    margin-left: 10%;
}

.input-group-addon.wide{
    min-width:12em;
}

.input-group-addon.button:hover{
    background-color : #DDDDDD;
    -webkit-transition:background-color ease-in 0.2s;
    -moz-transition:background-color ease-in 0.2s;
    -o-transition:background-color ease-in 0.2s;
    transition:background-color ease-in 0.2s;
}

.input-group-addon.button:not(:hover){
    -webkit-transition:background-color ease-in 0.2s;
    -moz-transition:background-color ease-in 0.2s;
    -o-transition:background-color ease-in 0.2s;
    transition:background-color ease-in 0.2s;
}

.panel.help-box{
    padding : 1em;
    width : 100%;
    background-color : #F4F4F4;
}

.login-body{
    background-color : #00537C;
    text-align : center;
}

.login-container{
    position : fixed;
    top:50%;
    left : 50%;
    background-color : #FFFFFF;
    margin-left: -11em;
    margin-top: -11em;
    width: 22em;
    height : 22em;
    border-radius: 25px;
    text-align : center;
}

.login-container p{
    padding: 1em;
}