{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pelikaija</title>
    <link rel="stylesheet" type="text/css" href="{% static "papukaaniApp/general.css" %}">

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-1.0.0-b1/leaflet.css"/>
    <link rel="stylesheet" href="{% static 'papukaani/css/upload.css' %}"/>
    <link rel="stylesheet" href="{% static 'papukaani/css/MarkerCluster.css' %}"/>
    <link rel="stylesheet" href="{% static 'papukaani/css/MarkerCluster.Default.css' %}"/>
    {% include "papukaaniApp/include_headers.html" %}

</head>
<body>
    {% include "papukaaniApp/navigation.html" %}
    <h2>Lintu: {{ creature.name }}</h2>

    <div id="map" class="largeMap"></div>

    <p>
        iFrame URL:
        <code id="iframeUrl">
            &lt;iframe width="400px" height="300px" src="{{ server_url }}{% url 'public' creature_id %}"&gt;&lt;/iframe&gt;
        </code>
    </p>

    {% autoescape off %}
        <script>
            var mapPoints = {{points}};
            creatureMapInit(mapPoints);
        </script>
    {% endautoescape %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://cdn.leafletjs.com/leaflet-1.0.0-b1/leaflet.js"></script>
    <script src="{% static 'papukaani/js/leaflet.markercluster.js' %}"></script>
    <script src="{% static 'papukaani/js/map.js' %}"></script>
    <script src="{% static 'papukaani/js/creature.js' %}"></script>
    <script src="{% static 'papukaani/libraries/polylinedecorator/leaflet.polylineDecorator.js' %}"></script>
    {% include "papukaaniApp/include_scripts.html" %}
</body>
</html>

