{% extends 'base.html' %}

{% load staticfiles %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="{% static 'papukaani/libraries/jquery/jquery-ui-timepicker-addon.css' %}">
    <link rel="stylesheet" href="{% static 'papukaani/libraries/jquery/jquery-ui/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'papukaani/css/devices.css' %}">

    <script src="{% static 'papukaani/libraries/jquery/jquery.min.js' %}"></script>
{% endblock %}

{% autoescape off %}
    {% block body_attr %} onload='init({{ device_json }}, {{ individual_json }}, "{{ csrf_token }}")'{% endblock %}
{% endautoescape %}

{% block content %}
    {% include "papukaaniApp/navigation.html" %}

    <h1 class="heading">Hallitse lähettimiä</h1>

    <form>
        <p class="heading">
            Valitse lähetin
            <select id="selectDevice" class="form-control form-field" style="display:inline"
                    onchange="displayIndividuals(this.value)">
                <option selected disabled>Valitse lähetin</option>
                {% for device in devices %}
                    <option value="{{ device.id }}">{{ device.deviceManufacturerID }}</option>
                {% endfor %}
            </select>

            <span id="errors"></span>
        </p>

        <table id="table" class="table table-stripped table-nonfluid">
            <tr>
                <th>Lintu</th>
                <th>Kiinnitetty</th>
                <th>Irroitettu</th>
                <th></th>
            </tr>
            <tbody id="individuals"></tbody>
            <tr id="attacher">
                <td>
                    <select id="individualId">
                        <option disabled selected>Valitse kiinnitettävä lintu</option>
                        {% for individual in selection %}
                            <option value="{{ individual.id }}">{{ individual.nickname }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <input type="text" id="start_time" name="start_time" class="dateinput datepicker"
                           onblur="validateDateFormat(this)" placeholder="dd.mm.yyyy HH:mm"></td>
                <td></td>
                <td><a id="attach" class="btn btn-sm btn-primary" onclick="attachDevice()">Kiinnitä</a></td>
            </tr>
        </table>
    </form>

    {% include "papukaaniApp/include_scripts.html" %}

    <script src="{% static 'papukaani/libraries/jquery/jquery-ui/jquery-ui.js' %}"></script>
    <script src="{% static 'papukaani/libraries/jquery/jquery-dateFormat.min.js' %}"></script>
    <script src="{% static 'papukaani/js/devices.js' %}"></script>
    <script src="{% static 'papukaani/libraries/jquery/jquery-ui-timepicker-addon.js' %}"></script>
    <script src="{% static 'papukaani/js/utils/datetimepicker.js' %}"></script>
{% endblock %}
