{% extends 'base.html' %}

{% load staticfiles %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="{% static 'papukaani/css/individuals.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'papukaani/libraries/bootstrap/bootstrap-combobox.css' %}">
{% endblock %}

{% block content %}
    {% include "papukaaniApp/navigation.html" %}

    {% include "papukaaniApp/include_scripts.html" %}

    <div id="delete_confirm_popup" class="overlay" hidden="true">
        <p>Haluatko varmasti poistaa linnun?</p>

        <button id="yes_button" class="btn btn-default"> Kyllä</button>
        <button id="cancel_button" class="btn btn-default"> Peruuta</button>
    </div>

    <h1>Luo lintu</h1>

    <form id="new_individual_form" class="form-inline" action='{% url "individuals" %}' method="post">
        {% csrf_token %}

        <input class="form-control" type="text" name="nickname" id="new_individual_nickname" placeholder="Nimi"/>

        <select class="form-control combobox" name="taxon" id="new_individual_taxon">
            <option></option>

            {% for s in species %}
                <option value="{{ s.id }}">{{ s.name }}</option>
            {% endfor %}
        </select>

        <input class="form-control" type="textarea" name="descriptionEN" id="descriptionEN" placeholder="EN Kuvaus"/>
        <input class="form-control" type="textarea" name="descriptionFI" id="descriptionFI" placeholder="FI Kuvaus"/>
        <input class="form-control" type="textarea" name="descriptionSV" id="descriptionSV" placeholder="SV Kuvaus"/>
        <input class="form-control" type="text" name="descriptionUrlEN" id="descriptionUrlEN" placeholder="EN Kuvaus URL"/>
        <input class="form-control" type="text" name="descriptionUrlFI" id="descriptionUrlFI" placeholder="FI Kuvaus URL"/>
        <input class="form-control" type="text" name="descriptionUrlSV" id="descriptionUrlSV" placeholder="SV Kuvaus URL"/>

        <button type="submit" class="btn btn-default">Luo</button>
    </form>

    <h1>Muokkaa lintua</h1>
    {% for individual in individuals %}
        <form name="modify_individuals" class="form-inline" action='{% url "individuals" %}' method="post">
            {% csrf_token %}

            <input type="hidden" name="id" value="{{ individual.id }}"/>

            <input class="form-control" type="text" name="nickname" placeholder="Nimi" value="{{ individual.nickname }}"/>
            <input class="form-control" type="text" name="ring_id" placeholder="Rengastunnus" value="{{ individual.ringID }}"/>

            <select class="form-control combobox" name="taxon" placeholder="Laji">
                <option></option>
                {% for s in species %}
                    <option value="{{ s.id }}" {% if individual.taxon == s.id %} selected{% endif %}>{{ s.name }}</option>
                {% endfor %}
            </select>
            <input class="form-control" type="textarea" name="descriptionEN" placeholder="EN Kuvaus" value="{{ individual.description.en }}"/>
            <input class="form-control" type="textarea" name="descriptionFI" placeholder="FI Kuvaus" value="{{ individual.description.fi }}"/>
            <input class="form-control" type="textarea" name="descriptionSV" placeholder="SV Kuvaus" value="{{ individual.description.sv }}"/>
            <input class="form-control" type="text" name="descriptionUrlEN" placeholder="EN Kuvaus" value="{{ individual.descriptionURL.en }}"/>
            <input class="form-control" type="text" name="descriptionUrlFI" placeholder="FI Kuvaus" value="{{ individual.descriptionURL.fi }}"/>
            <input class="form-control" type="text" name="descriptionUrlSV" placeholder="SV Kuvaus" value="{{ individual.descriptionURL.se }}"/>

            <button type="submit" name="modify" value="1" class="btn btn-default">Tallenna</button>
            <button type="button" name="delete" onclick="confirm(this.form)" class="btn btn-danger">Poista</button>
        </form>
        <br>
    {% endfor %}

    <p id="messages">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </p>

    <script src="{% static 'papukaani/libraries/bootstrap/bootstrap-combobox.js' %}"></script>
    <script src="{% static 'papukaani/js/individuals.js' %}"></script>
{% endblock %}
