{% extends 'base.html' %}

{% load staticfiles %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="{% static 'papukaani/css/individuals.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'papukaani/libraries/bootstrap/bootstrap-combobox.css' %}">
{% endblock %}

{% block content %}
    {% include "papukaaniApp/navigation.html" %}

    {% include "papukaaniApp/include_scripts.html" %}

    <div id="delete_confirm_popup" class="overlay" hidden="true">
        <p>Haluatko varmasti poistaa linnun?</p>

        <button id="yes_button" class="btn btn-default"> Kyllä</button>
        <button id="cancel_button" class="btn btn-default"> Peruuta</button>
    </div>

    <h1>Luo lintu</h1>

    <form id="new_individual_form" class="form-inline" action='{% url "individuals" %}' method="post">
        {% csrf_token %}

        <input class="form-control" type="text" name="nickname" id="new_individual_nickname" placeholder="Nimi"/>

        <select class="form-control combobox" name="taxon" id="new_individual_taxon">
            <option></option>

            {% for s in species %}
                <option value="{{ s.id }}">{{ s.name }}</option>
            {% endfor %}
        </select>

        <input class="form-control" type="textarea" name="descriptionEN" id="descriptionEN" placeholder="EN Kuvaus"/>
        <input class="form-control" type="textarea" name="descriptionFI" id="descriptionFI" placeholder="FI Kuvaus"/>
        <input class="form-control" type="textarea" name="descriptionSV" id="descriptionSV" placeholder="SV Kuvaus"/>
        <input class="form-control" type="text" name="descriptionUrlEN" id="descriptionUrlEN" placeholder="EN Kuvaus URL"/>
        <input class="form-control" type="text" name="descriptionUrlFI" id="descriptionUrlFI" placeholder="FI Kuvaus URL"/>
        <input class="form-control" type="text" name="descriptionUrlSV" id="descriptionUrlSV" placeholder="SV Kuvaus URL"/>

        <button type="submit" class="btn btn-default">Luo</button>
    </form>

    <h1>Muokkaa lintua</h1>
    {% for individual in individuals %}
        <form name="modify_individuals" class="form-inline" action='{% url "individuals" %}' method="post">
            {% csrf_token %}

            <input type="hidden" name="id" value="{{ individual.id }}"/>

            <input class="form-control" type="text" name="nickname" placeholder="Nimi" value="{{ individual.nickname }}"/>
            <input class="form-control" type="text" name="ring_id" placeholder="Rengastunnus" value="{{ individual.ringID }}"/>
            <select class="form-control combobox" name="taxon" placeholder="Laji">
                <option></option>
                {% for s in species %}
                    <option value="{{ s.id }}" {% if individual.taxon == s.id %} selected{% endif %}>{{ s.name }}</option>
                {% endfor %}
            </select>
            <button type="submit" name="modify" value="1" class="btn btn-default">Tallenna</button>
            <button type="button" class="btn btn-info btn-cons" data-toggle="modal" data-target="#myModal">Muokkaa Kuvaukset</button>
            <button type="button" name="delete" onclick="confirm(this.form)" class="btn btn-danger">Poista</button>
        <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
            <form class="form-horizontal">
            <label>EN kuvaus</label>
                <input class="form-control" type="textarea" name="descriptionEN" style="width:80%" placeholder="EN Kuvaus" value="{{ individual.description.en }}"/><br>
            <label>FI kuvaus </label>
                <input class="form-control" type="textarea" name="descriptionFI" style="width:80%" placeholder="FI Kuvaus" value="{{ individual.description.fi }}"/><br>
            <label>SV kuvaus </label>
                <input class="form-control" type="textarea" name="descriptionSV" style="width:80%" placeholder="SV Kuvaus" value="{{ individual.description.sv }}"/><br>
            <label>EN kuvaus URL</label>
                <input class="form-control" name="descriptionUrlEN" type="url" style="width:80%" placeholder="EN Kuvaus URL" value="{{ individual.descriptionURL.en }}"/><br>
            <label>FI kuvaus URL</label>
                <input class="form-control" name="descriptionUrlFI" type="url" style="width:80%" placeholder="FI Kuvaus URL" value="{{ individual.descriptionURL.fi }}"/><br>
            <label>SV kuvaus URL</label>
                <input class="form-control" name="descriptionUrlSV" type="url" style="width:80%" placeholder="SV Kuvaus URL" value="{{ individual.descriptionURL.se }}"/><br>
            <button type="submit" name="modify" value="1" class="btn btn-default">Tallenna</button>
            </form>
        </div>
          <br>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
        </form>
        <br>
    {% endfor %}

    <p id="messages">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </p>

    <script src="{% static 'papukaani/libraries/bootstrap/bootstrap-combobox.js' %}"></script>
    <script src="{% static 'papukaani/js/individuals.js' %}"></script>
{% endblock %}