{% extends 'base.html' %}

{% block body_attr %} class="login-body"{% endblock %}

{% block content %}
    <div class="login-container">
        <h1>Kirjaudu sisään:</h1>
        <br>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <p>
            <a href="{{lajiauth}}{{luomus}}/">
                <img src="https://login.laji.fi/static/luomus.png" alt="LUOMUS" />
            </a>
        </p>

        <p>
            <a href="{{lajiauth}}{{haka}}/">
                <img src="https://login.laji.fi/static/haka.gif" alt="HAKA" />
            </a>
        <p/>
    </div>
{% endblock %}
