{% load staticfiles %}
<div id='cssmenu'>
<ul>
    <li><a href='{% url "index" %}'><span>Kotisivu</span></a></li>
    <li><a id="upload_link" href='{% url "upload" %}'><span>Lataa tiedosto</span></a></li>
    <li><a href='{% url "choose" %}'><span>Valitse julkiset pisteet</span></a></li>
    <li><a href='{% url "creatures" %}'><span>Katso lintuja</span></a></li>
    <li><a href='{% url "devices" %}'><span>Valitse linnun lähetin</span></a></li>
    <li><a href='{% url "individuals" %}'><span>Hallinnoi lintuja</span></a></li>
    <li><a href='{% url "public" %}'><span>Julkinen</span></a></li>
    <li style="float: right"><a href='{% url "login" %}'>Kirjaudu sisään</a></li>
    <li style="float: right"><a href='{% url "logout" %}'>Kirjaudu ulos</a></li>
</ul>
</div>