{% load staticfiles %}
<div id='cssmenu'>
<ul>
    <li><a href='{% url "index" %}'><span>Kotisivu</span></a></li>
    <li><a id="upload_link" href='{% url "upload" %}'><span>Lataa tiedosto</span></a></li>
    <li><a href='{% url "choose" %}' id="choose_link"><span>Valitse julkiset pisteet</span></a></li>
    <li><a href='{% url "devices" %}'><span>Valitse linnun lähetin</span></a></li>
    <li><a href='{% url "individuals" %}'><span>Hallinnoi lintuja</span></a></li>
    <li><a href='{% url "public" %}'><span>Julkinen</span></a></li>

    {%if authenticated %}
        <li style="float: right"><a href='{% url "logout" %}' id="logout_link">Kirjaudu ulos</a></li>
    {% else %}
        <li style="float: right"><a href='{% url "login" %}'id="login_link">Kirjaudu sisään</a></li>
    {% endif %}

</ul>
</div>