{% load i18n %}
    {% load staticfiles %}
    <div id='cssmenu'>
        <ul>
          <li><a href='{% url "index" %}'><span>{% trans "Kotisivu" %}</span></a></li>
          <li><a id="upload_link" href='{% url "upload" %}'><span>{% trans "Lataa tiedosto" %}</span></a></li>
          <li><a href='{% url "choose" %}' id="choose_link"><span>{% trans "Valitse julkiset pisteet" %}</span></a></li>
          <li><a href='{% url "devices" %}'><span>{% trans "Valitse linnun lähetin" %}</span></a></li>
          <li><a href='{% url "individuals" %}'><span>{% trans "Hallinnoi lintuja" %}</span></a></li>
          <li><a href='{% url "public" %}'><span>{% trans "Julkinen" %}</span></a></li>

            {%if authenticated %}
            <li style="float: right"><a href='{% url "logout" %}' id="logout_link">{% trans "Kirjaudu ulos" %}</a></li>
            {% else %}
            <li style="float: right"><a href='{% url "login" %}'id="login_link">{% trans "Kirjaudu sisään" %}</a></li>
            {% endif %}
        </ul>
    </div>
