{% extends extended %}
{% load i18n %}

{% load staticfiles %}

{% block header %}
    <link rel="stylesheet" href="{% static 'papukaani/libraries/leaflet/leaflet.css' %}"/>
    <link rel="stylesheet" href="{% static 'papukaani/libraries/jquery/jquery-ui/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'papukaani/libraries/jquery/jquery-ui-timepicker-addon.css' %}">
    <link rel="stylesheet" href="{% static 'papukaani/libraries/leaflet/markercluster/MarkerCluster.css' %}"/>
    <link rel="stylesheet" href="{% static 'papukaani/libraries/leaflet/markercluster/MarkerCluster.Default.css' %}"/>
{% endblock %}

{% autoescape off %}
{% block body_attr %} onload='var map = init({{ individuals }}, {{ species }}, {{ device }}, "{{ speed }}", {{ loc }},
    {{ zoom }}, "{{ start_time }}", "{{ end_time }}")'{% endblock %}
{% endautoescape %}

{% block footer %}{% endblock %}

{% block content %}

    <div class="modal" tabindex="-1" role="dialog" id="descriptionModal">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div id="desc"></div>
                    <a id="url" href="#"></a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        {% trans "Sulje" %}
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <div class="container-fluid" id="mapContainer">
        <div class="row no-gutters" style="height:100%;">
            <div class="col-sm-12 col-md-9 col-lg-10" style="height:100%;">
                <div id="map" tabindex="1"></div>

                <div id="timeline">
                    <style>
                        table td {
                            border: 1px solid;
                        }

                        table {
                            width: 100%;
                            box-sizing: border-box;
                        }

                        #birdies {
                            height: 100px;
                            overflow-y: scroll; /* Trigger vertical scroll    */
                            overflow-x: hidden; /* Hide the horizontal scroll */
                        }
                    </style>
                    <div class="firstCol">
                        <div class="choose_actions form-inline padded2">
                            <div id="birds">
                                <select id="selectIndividual">
                                    <option value="">Lisää lintu</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="secondCol">
                        <table>
                            <tr>
                                <td>
                                    <button id="play" onclick="player.play()" class="btn btn-default">
                                        &#9658;</button>
                                </td>
                                <td>
                                    <img id="speedLabel" src="{% static 'papukaaniApp/speed.svg' %}"
                                         alt="{% trans "Nopeus" %}"
                                         width="30"
                                         height="30"/>
                                </td>
                                <td>
                                    <div id="speedSlider" class="small-slider" data-toggle="tooltip"
                                         title="{% trans "Nopeus" %}"
                                         data-placement="top"></div>
                                </td>
                                <td>
                                    <label id="playLabel">N/A</label>
                                </td>
                                <td>
                                    <label id="playLabel_end">N/A</label>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                            data-target="#iframedialog">Link
                                    </button>
                                </td>
                            </tr>
                        </table>

                        <span id="loading" style="display:inline"></span>


                        <div class="modal fade" tabindex="-1" role="dialog" id="iframedialog">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"
                                                aria-label="Close"><span
                                                aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title">{% trans "Linkki" %}</h4>
                                    </div>
                                    <div class="modal-body">
                                        <input class="form-control" type="text" readonly id="iframeSrc"/>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">
                                            {% trans "Sulje" %}
                                        </button>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                    </div>
                    <div class="firstCol">
                        &nbsp;

                    </div>
                    <div class="secondCol">
                        <div class="input-group" id="time_range">
                                                <span class="input-group-addon"
                                                      id="basic-addon1">{% trans "Alku:" %}</span>
                            <input type="text" id="start_time" name="start_time"
                                   class="dateinput datepicker form-control"
                                   placeholder="dd-mm-yyyy HH:mm" maxlength="16">
                                            <span class="input-group-addon"
                                                  id="basic-addon1">{% trans "Loppu:" %}</span>
                            <input type="text" id="end_time" name="end_time"
                                   class="dateinput datepicker form-control"
                                   placeholder="dd-mm-yyyy HH:mm" maxlength="16">
                        </div>
                    </div>
                    <div class="firstCol">
                        &nbsp;
                    </div>
                    <div class="secondCol">
                        <div id="playSlider"></div>
                    </div>

                    <div id="birdies"></div>
                </div>
            </div>
            <div class="hidden-sm col-md-3 col-lg-2">
                <div id="nyheter">
                    <h1>Nyhe
                        34534
                        543534
                        543
                        5345
                        43534
                        5435345345
                        435435
                        435
                        435
                        435
                        435
                        435435ter</h1>a sdfasf
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'papukaani/libraries/jquery/jquery-ui/jquery-ui.js' %}"></script>
    <script src="{% static 'papukaani/libraries/jquery/jquery-dateFormat.min.js' %}"></script>
    <script src="{% static 'papukaani/libraries/jquery/sliderPadding.js' %}"></script>
    <script src="{% static 'papukaani/libraries/leaflet/leaflet.js' %}"></script>
    <script src="{% static 'papukaani/libraries/leaflet/markercluster/leaflet.markercluster.js' %}"></script>
    <script src="{% static 'papukaani/libraries/jquery/jquery-ui/jquery-ui-timepicker-addon.js' %}"></script>
    {% trans "fi" as lang %}
    <script src="{% static 'papukaani/libraries/jquery/jquery-ui/jquery-ui-timepicker-'|add:lang|add:'.js' %}"></script>
    <script src="{% static 'papukaani/js/map.js' %}"></script>
    <script src="{% static 'papukaani/js/utils/datetimepicker.js' %}"></script>
    <script src="{% static 'papukaani/js/utils/datepicker-'|add:lang|add:'.js' %}"></script>
    <script src="{% static 'papukaani/js/utils/polylineAnimate.js' %}"></script>
    <script src="{% static 'papukaani/libraries/leaflet/polylinedecorator/leaflet.polylineDecorator.js' %}"></script>
    <script src="{% static 'papukaani/js/utils/player.js' %}"></script>
    <script src="{% static 'papukaani/libraries/victor.min.js' %}"></script>
    <script src="{% static 'papukaani/js/public.js' %}"></script>
    <script>
        $(function () {
            $('.datepicker').change(function () {
                if (validateDateFormat(this) || this.value === "") {
                    sorter.refresh();
                }
            });
            $('#iframedialog').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var modal = $(this)
                generateIframeUrl();
                $("#iframeSrc").select();
            });
            $('#iframedialog').on('shown.bs.modal', function (event) {
                $("#iframeSrc").select();
            });
        });
        $("#birdies").on('click', 'button.remove', function (e) {
            e.preventDefault();
            sorter.removePointsForIndividual($(this).closest('div.firstCol').data('id'));
            $(this).closest('div.firstCol').next().remove();
            $(this).closest('div.firstCol').remove();
        });

       $('#descriptionModal').on('show.bs.modal', function (event) {
           var button = $(event.relatedTarget);
           var modal = $(this);
           var id = button.data('id');
           var bird = sorter.getBird(id);

           modal.find('.modal-title').text(bird.name);

           if (bird.description) {
               $('#desc').html(bird.description);
               $('#desc').show();
           } else {
               $('#desc').hide();
           }
           if (bird.url) {
               $('#url').attr('href', bird.url);
               $('#url').text("{% trans "Lisää tietoa" %}");
               $('#url').show();
           } else {
               $('#url').hide();
           }

        });
    </script>
{% endblock %}