{% extends 'base.html' %}
{% load i18n %}

{% load staticfiles %}

{% block header %}
    <link rel="stylesheet" href="{% static 'papukaani/css/upload.css' %}"/>
    <link rel="stylesheet" href="{% static 'papukaani/libraries/leaflet/leaflet.css' %}"/>
    <link rel="stylesheet" href="{% static 'papukaani/libraries/jquery/jquery-ui/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'papukaani/libraries/jquery/jquery-ui-timepicker-addon.css' %}">
    <link rel="stylesheet" href="{% static 'papukaani/libraries/leaflet/markercluster/MarkerCluster.css' %}"/>
    <link rel="stylesheet" href="{% static 'papukaani/libraries/leaflet/markercluster/MarkerCluster.Default.css' %}"/>
{% endblock %}

{% autoescape off %}
{% block body_attr %} onload='var map = init({{ individuals }}, {{ species }}, {{ device }}, "{{ speed }}", {{ loc }},
    {{ zoom }}, "{{ start_time }}", "{{ end_time }}")'{% endblock %}
{% endautoescape %}

{% block content %}
    {% if display_navigation %}
        {% include "papukaaniApp/navigation.html" %}
    {% endif %}

    <div class="choose_actions form-inline padded2">

        <div id="birds">
            <ul id="selectIndividual"></ul>
        </div>

        <span id="loading" class="help-block" style="display:inline"></span>

        <form id="time_range">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">{% trans "Alku:" %}</span>
                <input type="text" id="start_time" name="start_time" class="dateinput datepicker form-control"
                       onblur="validateDateFormat(this)"
                       placeholder="dd-mm-yyyy HH:mm" maxlength="16">
            </div>

            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">{% trans "Loppu:" %}</span>
                <input type="text" id="end_time" name="end_time" class="dateinput datepicker form-control"
                       onblur="validateDateFormat(this)"
                       placeholder="dd-mm-yyyy HH:mm" maxlength="16">
            </div>

            <span id="formatError" style="margin:0"></span>

            <button type="button" class="btn btn-default" onclick="sorter.refresh()"
                    id="show_time_range">{% trans "Päivitä " %}</button>

        </form>
    </div>

    <div id="map" class="largeMap" tabindex="1">
        <div id="in-map">
            <div id="in-map-slider" class="img-rounded">
                <div id="playSlider"></div>
            </div>

            <div id="in-map-control" class="img-rounded">
                <div class="form-inline">
                    <button id="play" onclick="player.play()" class="btn btn-default">&#9658;</button>

                    <label id="playLabel">N/A</label>

                    <div id="speedSlider" class="small-slider" data-toggle="tooltip" title="Nopeus"
                         data-placement="top"></div>

                    <img id="speedLabel" src="{% static 'papukaaniApp/speed.svg' %}" alt="Nopeus" width="30"
                         height="30"/>

                    <label id="playLabel_end"></label>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'papukaani/libraries/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'papukaani/libraries/jquery/jquery-ui/jquery-ui.js' %}"></script>
    <script src="{% static 'papukaani/libraries/jquery/jquery-dateFormat.min.js' %}"></script>
    <script src="{% static 'papukaani/libraries/jquery/sliderPadding.js' %}"></script>
    <script src="{% static 'papukaani/libraries/leaflet/leaflet.js' %}"></script>
    <script src="{% static 'papukaani/libraries/leaflet/markercluster/leaflet.markercluster.js' %}"></script>
    <script src="{% static 'papukaani/libraries/jquery/jquery-ui/jquery-ui-timepicker-addon.js' %}"></script>
    {% trans "fi" as lang %}
    <script src="{% static 'papukaani/libraries/jquery/jquery-ui/locale/jquery-ui-timepicker-'|add:lang|add:'.js' %}"></script>
    <script src="{% static 'papukaani/js/map.js' %}"></script>
    <script src="{% static 'papukaani/js/utils/datetimepicker.js' %}"></script>
    <script src="{% static 'papukaani/js/utils/locale/datepicker-'|add:lang|add:'.js' %}"></script>
    <script src="{% static 'papukaani/js/utils/polylineAnimate.js' %}"></script>
    <script src="{% static 'papukaani/libraries/leaflet/polylinedecorator/leaflet.polylineDecorator.js' %}"></script>
    <script src="{% static 'papukaani/js/utils/player.js' %}"></script>
    <script src="{% static 'papukaani/libraries/victor.min.js' %}"></script>
    <script src="{% static 'papukaani/js/public.js' %}"></script>
    <script src="{% url 'javascript-catalog' %}"></script>

    {% if display_navigation %}
        <div class="choose_actions form-inline padded2">
            <div class="input-group">
                <span class="input-group-addon">iFrame</span>
                <input class="form-control" type="text" size="100" id="iframeSrc"/>
            </div>

            <div class="input-group">
                <button type="button" class="btn btn-primary" onclick="generateIframeUrl()"
                        id="generateIframeButton">{% trans "Luo" %}</button>
            </div>
        </div>
    {% endif %}
{% endblock %}
