{% extends 'base.html' %}
{% load i18n %}

{% load staticfiles %}

{% block header %}
    <link rel="stylesheet" href="{% static 'papukaani/libraries/leaflet/leaflet.css' %}"/>
{% endblock %}

{% autoescape off %}
    {% block body_attr %} onload='var map = init({{ individuals }}, {{ species }}, "{{ device }}", "{{ speed }}", {{ loc }} , {{ zoom }}, "{{ start_time }}", "{{ end_time }}")'{% endblock %}
{% endautoescape %}

{% block content %}

    {% include "papukaaniApp/navigation.html" %}

    <h2>{% trans "Lataa tiedosto" %}</h2>

    <div class="choose_actions form-inline padded2">
        <form enctype="multipart/form-data" method="post"> {% csrf_token %}
            <div class="input-group">
              <span class="input-group-addon">{% trans "Tiedosto:" %}</span>
                <input type="file" class="filestyle" data-classButton="btn btn-primary" data-input="false"
                       data-classIcon="icon-plus" data-buttonText="{% trans "Selaa" %}">
            </div>

            <div class="input-group">
              <span class="input-group-addon">{% trans "Tiedostomuoto:" %}</span>
                <select name="fileFormat" id="fileFormat" onchange="displayGpsField()" class="form-control form-field">
                    {% for parser in parsers %}
                        <option value="{{ parser.formatName }}">{{ parser.formatName }}</option>
                    {% endfor %}
                </select>
            </div>

            <div id="gpsInputDiv" style="display: inline">
                <div class="input-group">
                  <span class="input-group-addon">{% trans "GPS-numero:" %}</span>
                    <input type="text" name="gpsNumber" id="gpsNumber" class="form-control form-field">
                </div>
            </div>

            <input type="submit" class="btn btn-default" value="{% trans "Lähetä" %}" name="submitButton">

            <a href="{% url 'list_formats'%}">{% trans "Formaattien hallinta" %}</a>
        </form>
    </div>

    <p id="messages">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </p>

    <div id="map" class="largeMap"></div>

    {% include "papukaaniApp/include_scripts.html" %}

    <script src="{% static 'papukaani/libraries/leaflet/leaflet.js' %}"></script>
    <script src="{% static 'papukaani/js/map.js' %}"></script>
    <script src="{% static 'papukaani/js/upload.js' %}"></script>
    <script src="{% static 'papukaani/libraries/bootstrap/bootstrap-filestyle.min.js' %}"></script>
    <script>
        {% autoescape off %}
            create_map_with_points('{{points}}');

            fileFormats = {{% for parser in parsers %}
                "{{ parser.formatName }}": "{{ parser.gpsNumber }}",
            {% endfor %}};
        {% endautoescape%}

        displayGpsField();
    </script>
{% endblock %}
