{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "papukaaniApp/include_headers.html" %}
    <link rel="stylesheet" type="text/css" href="{% static 'papukaani/css/general.css' %}">
    <title>404 Page not found</title>
</head>
<body>
    <img src="{% static "papukaaniApp/logo.png" %}" alt="Papukaani" style="height:90%; display: block;margin:0 auto"/>
    <h1 style="text-align: center"><b>The page you were looking for does not exist.</b></h1>
    {% include "papukaaniApp/include_scripts.html" %}
</body>
</html>