<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pelikaija</title>

    {% load staticfiles %}
    {% include "papukaaniApp/include_headers.html" %}
    <link rel="stylesheet" href="{% static 'papukaani/libraries/leaflet/leaflet.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'papukaani/css/general.css' %}">
    <link rel="stylesheet" href="{% static 'papukaani/css/upload.css' %}"/>
    <link rel="stylesheet" href="{% static 'papukaani/libraries/leaflet/markercluster/MarkerCluster.css' %}"/>
    <link rel="stylesheet" href="{% static 'papukaani/libraries/leaflet/markercluster/MarkerCluster.Default.css' %}"/>
    <link rel="stylesheet" href="{% static 'papukaani/libraries/jquery/jquery-ui-timepicker-addon.css' %}"/>
    <link rel="stylesheet" href="{% static 'papukaani/libraries/jquery/jquery-ui/jquery-ui.css' %}">

</head>

<body onload="var map = init({{ devices }}, '{{ csrf_token}}')">
{% include "papukaaniApp/navigation.html" %}

<div id="popup" class="overlay" hidden="true">
       <p>Tallennetaanko muutokset?</p>
        <button id="save_button" class="btn btn-default"> Kyllä </button>
        <button id="no_save_button" class="btn btn-default">  Ei </button>
        <button id="cancel_button" class="btn btn-default"> Peruuta</button>
</div>

<div class="choose_actions">
    <form id="time_range">
        <label for="start_time">Alku</label>
        <input type="text" id="start_time" name="start_time" class="datepicker" onblur="validateDateFormat(this)"
                   placeholder="dd-mm-yyyy HH:mm">

        <label for="end_time">Loppu</label>
        <input type="text" id="end_time" name="end_time" class="datepicker" onblur="validateDateFormat(this)"
                   placeholder="dd-mm-yyyy HH:mm">

        <span id="formatError" style="margin:0"></span>

        <button type="button" class="btn btn-default"
            onclick="map.showMarkersWithinTimeRange(time_range.start_time.value, time_range.end_time.value)"
            id="show_time_range">Näytä pisteet aikavälillä
        </button>
    </form>

    <select id="selectDevice"></select>

    {% csrf_token %}
    <button id="save" onclick="map.send()" class="btn btn-default">Tallenna</button>
    <button id="reset" onclick="resetMap(map)" class="btn btn-default">Reset</button>
    <p id="loading" style="display:inline"></p>
</div>

{% include "papukaaniApp/include_scripts.html" %}
<script src="{% static 'papukaani/libraries/leaflet/leaflet.js' %}"></script>
<script src="{% static 'papukaani/libraries/leaflet/markercluster/leaflet.markercluster.js' %}"></script>
<script src="{% static 'papukaani/libraries/leaflet/markercluster/MarkerClusterGroup.Refresh.js' %}"></script>
<script src="{% static 'papukaani/libraries/jquery/jquery-ui/jquery-ui.js' %}"></script>
<script src="{% static 'papukaani/js/map.js' %}"></script>
<script src="{% static 'papukaani/js/utils/deviceSorter.js' %}"></script>
<script src="{% static 'papukaani/js/utils/datetimepicker.js' %}"></script>
<script src="{% static 'papukaani/js/choose.js' %}"></script>
<script src="{% static 'papukaani/libraries/jquery/jquery-ui-timepicker-addon.js' %}"></script>

<script>
    $(function () {
        $(".datepicker").datetimepicker();
        $.extend($.datepicker,{_checkOffset:function(inst,offset,isFixed){return offset}})
    });
</script>

<div id="map" class="largeMap">
</div>

</body>
</html>