<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pelikaija</title>

    {% load staticfiles %}

    <link rel="stylesheet" type="text/css" href="{% static "papukaaniApp/general.css" %}">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.css"/>
    <link rel="stylesheet" href="{% static 'papukaani/css/upload.css' %}"/>
    <link rel="stylesheet" href="{% static 'papukaani/css/MarkerCluster.css' %}"/>
    <link rel="stylesheet" href="{% static 'papukaani/css/MarkerCluster.Default.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.js"></script>
    <script src="{% static 'papukaani/js/leaflet.markercluster.js' %}"></script>
    <script src="{% static 'papukaani/js/MarkerClusterGroup.Refresh.js' %}"></script>
    <script src="{% static 'papukaani/js/map.js' %}"></script>
    <script src="{% static 'papukaani/js/choose.js' %}"></script>

</head>

<body>
{% include "papukaaniApp/navigation.html" %}

<div id="map" class="largeMap"></div>


{% csrf_token %}
<button id="save" onclick="send('{{csrf_token}}', documents)">Tallenna</button>

<p id="loading"></p>

{{ points|length }}
{% autoescape off %}
    <script>
         init({{points}})
    </script>
{% endautoescape %}

</body>
</html>