<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Papukaija</title>
    {% load staticfiles %}

    {% include "papukaaniApp/include_headers.html" %}
    <link rel="stylesheet" type="text/css" href="{% static 'papukaani/css/general.css' %}">
    <link rel="stylesheet" href="{% static 'papukaani/css/upload.css' %}"/>
    <link rel="stylesheet" href="{% static 'papukaani/libraries/leaflet/leaflet.css' %}"/>
</head>
<body>

{% include "papukaaniApp/navigation.html" %}
<h2>Lataa tiedosto</h2>

<form enctype="multipart/form-data" method="post"> {% csrf_token %}
    <input type="file" id="file" name="file">
    <input type="submit" value="Lähetä" name="submitButton">
</form>


<p id="messages">
    {% for message in messages %}
    {{ message }}
    {% endfor %}
</p>

{% include "papukaaniApp/include_scripts.html" %}
<div id="map" class="largeMap"></div>

<script src="{% static 'papukaani/libraries/leaflet/leaflet.js' %}"></script>
<script src="{% static 'papukaani/js/map.js' %}"></script>
<script src="{% static 'papukaani/js/uploadmap.js' %}"></script>
<script>
    {% autoescape off %}
        create_map_with_points('{{points}}');
    {% endautoescape%}
</script>
</body>
</html>